.order-view button {
  position: static;
  top: 0;
  right: 0;
}

ul li {
  text-decoration: none;
  flex: 1;
}

.order-view {
  text-align: center;
  background-color: white;
  width: 80%;
  display: flex;
  flex-flow: column;
  margin: 80px;
}

.order-view button {
  color: white;
  background-color: grey;
  padding: 5px;
  /* margin: auto; */
}
