.order-view button {
  position: static;
  top: 0;
  right: 0;
}

ul li {
  text-decoration: none;
  flex: 1;
}

.order-view {
  text-align: center;
  background-color: white;
  width: 80%;
  display: flex;
  flex-flow: column;
  margin: 80px;
  animation: showOrders 1s ease-out forwards;
}

.order-view button {
  color: white;
  background-color: grey;
  padding: 5px;
  /* margin: auto; */
}

@keyframes showOrders {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}


.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
}
