.product-item {
  margin: 20px;
  flex: 1;
}

.product-item img {
  width: 200px;
  height: 200px;
}

.main-products {
  text-align: center;
  margin: 30px;
  display: flex;
  /* flex-flow: row; */
  width: 100%;
  background-color: white;
}
